.row
  .col-md-12
    .panel.panel-default
      .s-bar.s-bar--background
        .ArrangeFlex
          .ArrangeFlex-sizeFit.Box.Box--lg
            i.fa.fa-plus
          .ArrangeFlex-sizeFill.Box--y.Box--lg
            h2.milli.s-bar--text
              strong Criar item de produção
          .ArrangeFlex-sizeFit.Box--y.Box--lg.s-bar--columnLeft
            a.toggle.eta.btn-sBar(href='#collapse-box' data-toggle="collapse" aria-expanded='true')
              i.fa.fa-chevron-up
              i.fa.fa-chevron-down
      .panel-body#collapse-box.in 
        form(name='criarItemProducaoForm')
          .form-group
            label(for='tipo')
              | Tipo 
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            select#tipo.form-control(name='tipo', required)
              option(value='') Selecionar
              option(value='Artigo') CONSULTA (SF) - CON
          .form-group
            label(for='numero') 
              | Número 
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            input#numero.form-control(type='text', name='numero', required)  
          .form-group
            label(for='ano') 
              | Ano 
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            input#ano.form-control(type='text', name='ano', required)  
          .form-group
            label(for='variacao') Variação
            p.help-block Ex: 'A' em PEC 113A de 2015
            input#variacao.form-control(type='text', name='variacao') 
          .form-group
            label(for='assuntoaipAgencia') 
              | Assunto 
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            textarea#assuntoaipAgencia.form-control(rows='2', required)
          .form-group
            label(for='explicacao') Explicação (SECOM)
            button.btn.btn-xs.btn-default(type='button')
              | Preencher com Explicação da Ementa Oficial
            textarea#explicacao.form-control(rows='2')
          .form-group
            label(for='textoApoioTinyMce') Texto de apoio
            textarea#textoApoioTinyMce.descricaoTinyMce.tinyMce.form-control(name='textoApoioTinyMce', cols='100', rows='10')

          .form-group
            label(for='observacaoTinyMce') Observação da produção
            textarea#observacaoTinyMce.descricaoTinyMce.tinyMce.form-control(name='observacaoTinyMce', cols='100', rows='10')

          .form-group
            label(for='orientacaoCentralTinyMce') Orientação da Central de Pautas
            textarea#orientacaoCentralTinyMce.descricaoTinyMce.tinyMce.form-control(name='orientacaoCentralTinyMce', cols='100', rows='10')

          .form-group.pull-right
            button.btn.btn-primary(type='submit') Criar
            | &nbsp;
            a.btn.btn-default(href='paginaInicial.html', data-dismiss='modal') Cancelar