.row
  .col-md-12
    .panel.panel-default
      .s-bar.s-bar--background
        .ArrangeFlex
          .ArrangeFlex-sizeFit.Box.Box--lg
            i.fa.fa-plus
          .ArrangeFlex-sizeFill.Box--y.Box--lg
            h2.milli.s-bar--text
              strong Criar item comap
          .ArrangeFlex-sizeFit.Box--y.Box--lg.s-bar--columnLeft
            a.toggle.eta.btn-sBar(href='#collapse-box' data-toggle="collapse" aria-expanded='true')
              i.fa.fa-chevron-up
              i.fa.fa-chevron-down
      .panel-body#collapse-box.in
        // Responsive Select, on only in xs
        .visible-xs
          .form-group
            label(for='mySelect') Selecione um tipo
            select.mySelect.select-nav.form-control
              mixin option(value, name)
                option(value=value) #{name}
              +option('#conteudo', 'Conteúdo')
              +option('#briefing', 'Briefing')
              +option('#resultados', 'Resultados')

        // Nav tabs
        ul#myTab.nav.nav-tabs.hidden-xs(role='tablist')
          li.active(role='presentation')
            a(href='#conteudo', aria-controls='conteudo', role='tab', data-toggle='tab') Conteúdo
          li(role='presentation')
            a(href='#briefing', aria-controls='briefing', role='tab', data-toggle='tab') Briefing
          li(role='presentation')
            a(href='#resultados', aria-controls='resultados', role='tab', data-toggle='tab') Resultados

        // Tab panes
        .tab-content.Box.Box--lg.Box--y
          #conteudo.tab-pane.active(role='tabpanel')
            form(name='criarItemComapForm')
              .form-group
                label(for='trabalho')
                  | Trabalho
                  span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
                input#trabalho.form-control(type='text', name='trabalho', required)
              .form-group
                label(for='cliente')
                  | Cliente
                  span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
                .row
                  .col-md-4
                    select#cliente.form-control(name='cliente', required)
                      option(value='') Selecionar
                      option(value='Advocacia') Advocacia
              .form-group
                label(for='contato')
                  | Contato
                  span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
                input#contato.form-control(type='text', name='contato', required)
              .form-group
                label(for='telefones')
                  | Telefones
                  span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
                .row
                  .col-md-6.col-sm-6
                    input#telefones.form-control(type='text', name='telefones', required)
                  .col-md-4.col-sm-4
                    select#tipo-fone.form-control(name='tipo-fone', required)
                      option(value='') Selecionar
                      option(value='Ramal') Ramal
                  .col-md-2.col-sm-2
                    button.btn.btn-success(type='button', name='adicionar', data-toggle='tooltip', title='Adicionar Item')
                      i.fa.fa-plus
                    button.btn.btn-danger(type='button', name='remover', data-toggle='tooltip', title='Excluir Item')
                      i.fa.fa-times
              .form-group
                label(for='e-mails')
                  | E-mails
                  span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
                .row
                  .col-md-6.col-sm-6
                    input#email.form-control(type='email', name='email', required)
                  .col-md-4.col-sm-4
                    select#tipo-email.form-control(name='tipo-email', required)
                      option(value='') Selecionar
                      option(value='Ramal') Comercial
                  .col-md-2.col-sm-2
                    button.btn.btn-success(type='button', name='adicionar', data-toggle='tooltip', title='Adicionar Item')
                      i.fa.fa-plus
                    button.btn.btn-danger(type='button', name='remover', data-toggle='tooltip', title='Excluir Item')
                      i.fa.fa-times
              .form-group
                label(for='atendimento')
                  | Atendimento
                  span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
                .row
                  .col-md-4
                    select#atendimento.form-control(name='atendimento', required)
                      option(value='') Selecionar
                      option(value='Andrea') Andrea
              .form-group
                label(for='criacao') Criação
              .form-group
                label(for='marketing') Marketing
              .form-group
                label(for='producao') Produção
              .form-group
                label(for='cat-trabalho')
                  | Categoria do trabalho
                  span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
                .row
                  .col-md-4
                    select#cat-trabalho.form-control(name='cat-trabalho', required)
                      option(value='') Selecionar
                      option(value='Utilidade Publica') Utilidade Pública
              .form-group
                .checkbox
                  label
                    input(type='checkbox')
                    | Prioridade
              .form-group
                label(for='end-rede') Endereço na rede
                input#end-rede.form-control(type='text', name='end-rede')
              .form-group
                .row
                  .col-md-3.col-xs-8
                    label(for='data-ent-comap') Data de entrada na COMAP
                    .input-group.date(data-provide='datepicker', data-date-format="dd/mm/yyyy")
                      input#data-ent-comap.form-control(type='text', placeholder='dd/mm/aaaa', required)
                      .input-group-addon
                        span.fa.fa-calendar
              .form-group
                .row
                  .col-md-3.col-xs-8
                    label(for='prev-saida') Previsão de saída
                    .input-group.date(data-provide='datepicker', data-date-format="dd/mm/yyyy")
                      input#prev-saida.form-control(type='text', placeholder='dd/mm/aaaa')
                      .input-group-addon
                        span.fa.fa-calendar
          #briefing.tab-pane(role='tabpanel')
            .form-group
              label(for='descritivo') Descritivo
              p.help-block Histórico, problemas de comunicação
              textarea#descritivo.form-control(row='2', name='descritivo')

            .form-group
              label(for='resumo') Resumo
              p.help-block Para fins de relatório
              textarea#resumo.form-control(row='2', name='resumo')

            .form-group
              label(for='obj-comunicacao') Objetivos de comunicação
              p.help-block Para fins de relatório
              textarea#obj-comunicacao.form-control(row='2', name='obj-comunicacao')

            .form-group
              label(for='pub-alvo') Público-alvo
              textarea#pub-alvo.form-control(row='2', name='pub-alvo')

            .form-group
              label(for='pub-alvo') Público-alvo
              textarea#pub-alvo.form-control(row='2', name='pub-alvo')

            .form-group
              label(for='conceito') Conceito e linha criativa sugerida
              textarea#conceito.form-control(row='2', name='conceito')

            .form-group
              label(for='conteudo') Conteúdo
              textarea#conteudo.form-control(row='2', name='conteudo')

            .form-group
              label(for='Ref-TinyMce') Descrição
              textarea#Ref-TinyMce.Ref-TinyMce.tinyMce.form-control(name='html', cols='100', rows='10')
            .form-group
              label(for='inst-especificas') Instruções Específicas
              p.help-block Obrigatoriedade e restrições
              textarea#inst-especificas.form-control(row='2', name='inst-especificas')

            .form-group
              label(for='dem-producao') Demandas de produção
              textarea#dem-producao.form-control(row='2', name='dem-producao')

            .form-group
              label
                | Produtos Demandados
              p.help-block Escolha o tipo de produto na caixa de seleção e escreva a quantidade na caixa de texto
              .row.Box.Box--y
                .col-md-6.col-sm-6
                  select.form-control(name='prod-demandados')
                    option(value='') Selecionar
                    option(value='Capa CD/DVD') Capa CD/DVD
                .col-md-2.col-sm-2
                  input.form-control(type='text')
                .col-md-4.col-sm-4
                  button.btn.btn-success(type='button', name='adicionar', data-toggle='tooltip', title='Adicionar Item')
                    i.fa.fa-plus
                  button.btn.btn-danger(type='button', name='remover', data-toggle='tooltip', title='Excluir Item')
                    i.fa.fa-times
              .row.Box.Box--y
                .col-md-6.col-sm-6
                  select.form-control(name='prod-demandados')
                    option(value='') Selecionar
                    option(value='Cartaz') Cartaz
                .col-md-2.col-sm-2
                  input.form-control(type='text')
                .col-md-4.col-sm-4
                  button.btn.btn-success(type='button', name='adicionar', data-toggle='tooltip', title='Adicionar Item')
                    i.fa.fa-plus
                  button.btn.btn-danger(type='button', name='remover', data-toggle='tooltip', title='Excluir Item')
                    i.fa.fa-times

              .row.Box.Box--y
                .col-md-6.col-sm-6
                  select.form-control(name='prod-demandados')
                    option(value='') Selecionar
                    option(value='Faixa de mesa') Faixa de mesa
                .col-md-2.col-sm-2
                  input.form-control(type='text')
                .col-md-4.col-sm-4
                  button.btn.btn-success(type='button', name='adicionar', data-toggle='tooltip', title='Adicionar Item')
                    i.fa.fa-plus
                  button.btn.btn-danger(type='button', name='remover', data-toggle='tooltip', title='Excluir Item')
                    i.fa.fa-times

              .row.Box.Box--y
                .col-md-6.col-sm-6
                  select.form-control(name='prod-demandados')
                    option(value='') Selecionar
                    option(value='Banner (vinil adesivo) - formato 120 x 140cm') Banner (vinil adesivo) - formato 120 x 140cm
                .col-md-2.col-sm-2
                  input.form-control(type='text')
                .col-md-4.col-sm-4
                  button.btn.btn-success(type='button', name='adicionar', data-toggle='tooltip', title='Adicionar Item')
                    i.fa.fa-plus
                  button.btn.btn-danger(type='button', name='remover', data-toggle='tooltip', title='Excluir Item')
                    i.fa.fa-times

              .row.Box.Box--y
                .col-md-6.col-sm-6
                  select.form-control(name='prod-demandados')
                    option(value='') Selecionar
                    option(value='Banner intranet') Banner intranet
                .col-md-2.col-sm-2
                  input.form-control(type='text')
                .col-md-4.col-sm-4
                  button.btn.btn-success(type='button', name='adicionar', data-toggle='tooltip', title='Adicionar Item')
                    i.fa.fa-plus
                  button.btn.btn-danger(type='button', name='remover', data-toggle='tooltip', title='Excluir Item')
                    i.fa.fa-times


          #resultados.tab-pane(role='tabpanel')
            .form-group
              .row
                .col-md-3.col-xs-8
                  label(for='data') Data
                  .input-group.date(data-provide='datepicker', data-date-format="dd/mm/yyyy")
                    input#data.form-control(type='text', placeholder='dd/mm/aaaa')
                    .input-group-addon
                      span.fa.fa-calendar
            .form-group
              label(for='dem-producao') Demandas de produção
              textarea#dem-producao.form-control(row='2', name='dem-producao')


          .form-group.pull-right
            button.btn.btn-primary(type='submit') Criar
            | &nbsp;
            a.btn.btn-default(href='comap.html', data-dismiss='modal') Cancelar

