.row
  .col-md-12
    .panel.panel-default
      .s-bar.s-bar--background
        .ArrangeFlex
          .ArrangeFlex-sizeFit.Box.Box--lg
            i.fa.fa-pencil
          .ArrangeFlex-sizeFill.Box--y.Box--lg
            h2.milli.s-bar--text
              strong Editar Fonte
          .ArrangeFlex-sizeFit.Box--y.Box--lg.s-bar--columnLeft
            a.toggle.eta.btn-sBar(href='#collapse-box' data-toggle="collapse" aria-expanded='true')
              i.fa.fa-chevron-up
              i.fa.fa-chevron-down
      .panel-body#collapse-box.in 
        form(name='editarFontForm')
          .form-group
            label(for='nome') 
              | Nome 
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            input#nome.form-control(type='text', name='nome', required) 
          .form-group
            label(for='login') Login Senado (ou Código do Senador) 
            p.help-block Informe o login no Senado (ou código do Senador), se houver, para buscar informações adicionais
            input#login.form-control(type='text', name='login') 
          .form-group
            label(for='area') 
              | Área 
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            .row
              .col-md-4
                select#area.form-control(name='area', required)
                  option(value='') Selecionar
                  option(value='Comissões') Comissões 
          .form-group
            label(for='senador') Senador/Instituição
            input#senador.form-control(type='text', name='senador') 
          .form-group
            label(for='funcao') Função
            input#funcao.form-control(type='text', name='funcao') 

          .form-group
            label(for='telefones') Telefones
            .row
              .col-md-6.col-sm-6
                input#telefones.form-control(type='text', name='telefones')
              .col-md-4.col-sm-4
                select#tipo-fone.form-control(name='tipo-fone')
                  option(value='') Selecionar
                  option(value='Ramal') Ramal 
              .col-md-2.col-sm-2
                button.btn.btn-success(type='button', name='adicionar', data-toggle='tooltip', title='Adicionar Item')
                  i.fa.fa-plus
                button.btn.btn-danger(type='button', name='remover', data-toggle='tooltip', title='Excluir Item')
                  i.fa.fa-times
          .form-group
            label(for='email') E-mails
            .row
              .col-md-6.col-sm-6
                input#email.form-control(type='email', name='email')
              .col-md-4.col-sm-4
                select#tipo-email.form-control(name='tipo-email')
                  option(value='') Selecionar
                  option(value='Comercial') Comercial
              .col-md-2.col-sm-2
                button.btn.btn-success(type='button', name='adicionar', data-toggle='tooltip', title='Adicionar Item')
                  i.fa.fa-plus
                button.btn.btn-danger(type='button', name='remover', data-toggle='tooltip', title='Excluir Item')
                  i.fa.fa-times
          .form-group
            label(for='redes-sociais') Rede Sociais
            .row
              .col-md-6.col-sm-6
                input#redes-sociais.form-control(type='text', name='redes-sociais')
              .col-md-4.col-sm-4
                select#redes.form-control(name='redes')
                  option(value='') Selecionar
                  option(value='Facebook') Facebook
              .col-md-2.col-sm-2
                button.btn.btn-success(type='button', name='adicionar', data-toggle='tooltip', title='Adicionar Item')
                  i.fa.fa-plus
                button.btn.btn-danger(type='button', name='remover', data-toggle='tooltip', title='Excluir Item')
                  i.fa.fa-times
          .form-group
            label(for='observacoes') Observações
            textarea#observacoes.descricaoTinyMce.form-control(name='observacoes', cols='100', rows='10')
          .form-group
            label(for='biografia') Biografia
            textarea#biografia.descricaoTinyMce.form-control(name='biografia', cols='100', rows='10')
                      
          .form-group.pull-right
            button.btn.btn-primary(type='submit') Editar
            | &nbsp;
            a.btn.btn-default(href='paginaInicial--itemPautaGeral.html', data-dismiss='modal') Cancelar

