.row
  .col-md-12
    .panel.panel-default
      .s-bar.s-bar--background
        .ArrangeFlex
          .ArrangeFlex-sizeFit.Box.Box--lg
            i.fa.fa-pencil
          .ArrangeFlex-sizeFill.Box--y.Box--lg
            h2.milli.s-bar--text
              strong Editar Item de Pauta Comunicação Interna
          .ArrangeFlex-sizeFit.Box--y.Box--lg.s-bar--columnLeft
            a.toggle.eta.btn-sBar(href='#collapse-box' data-toggle="collapse" aria-expanded='true')
              i.fa.fa-chevron-up
              i.fa.fa-chevron-down
      .panel-body#collapse-box.in 
        form(name='editarItemPautaComInternaForm')
          .form-group
            .row
              .col-md-3.col-xs-8
                label(for='dataProducao') 
                  | Data de produção
                  span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *

                .input-group.date(data-provide='datepicker', data-date-format="dd/mm/yyyy")
                  input#dataProducao.form-control(type='text', placeholder='dd/mm/aaaa', required)
                  .input-group-addon
                    span.fa.fa-calendar
          .form-group
            label(for='horário')
              | Horário 
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            .row
              .col-md-2.col-xs-4.dot-timer
                select#horario.form-control(name='hh', required)
                  option(value='') 00
                  option(value='08') 08
              .col-md-2.col-xs-4
                select.form-control(name='mm', required)
                  option(value='') 00
                  option(value='01') 01
          .form-group
            label(for='local') Local
            input#local.form-control(type='text', name='local')          
          .form-group
            label(for='assunto')
              | Assunto 
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            input#assunto.form-control(type='text', required)
          .form-group
            label(for='descricaoTinyMce') Descrição
            textarea#descricaoTinyMce.descricaoTinyMce.tinyMce.form-control(name='descricaoTinyMce', cols='100', rows='10')
          .form-group
            label(for='ordenacao') 
              | Ordenação
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            input#ordenacao.form-control(type='text', name='ordenacao', required)
          .form-group
            label(for='editoria')
              | Editoria
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            select#editoria.form-control(name='editoria', required)
              option(value='') Selecionar
              option(value='Artigo') Artigo
          .form-group
            label(for='turno')
              | Turno
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            select#turno.form-control(name='turno', required)
              option(value='') Selecionar
              option(value='Artigo') Artigo
          .form-group
            .checkbox
              label
                input(type='checkbox')
                |  Destaque na home
          .form-group
            label(for='responsavel') Responsável
          .form-group
            label(for='fotografo') Fotógrafo(s)
          .form-group
            label(for='observacoesPauta') Observações da Pauta/Reportagem
            textarea#observacoesPauta.form-control(name='observacoesPauta', cols='100', rows='2')
          .form-group
            label(for='observacoesFoto') Observações de Fotografia
            textarea#observacoesFoto.form-control(name='observacoesFoto', cols='100', rows='2')
          .form-group
            label(for='urlNoticias') URL da notícia
            input#urlNoticias.form-control(type='text', name='urlNoticias') 
          .form-group
            label(for='tituloNoticia') Título Notícia
            input#tituloNoticia.form-control(type='text', name='tituloNoticia')           
          .form-group
            label(for='sutiaNoticia') Sutiã da notícia
            input#sutiaNoticia.form-control(type='text', name='sutiaNoticia') 
          .form-group
            label(for='textoNoticia') Texto da notícia
            textarea#textoNoticia.descricaoTinyMce.tinyMce.form-control(name='textoNoticia', cols='100', rows='10')
          .form-group
            label(for='views7') Views 7
            p.help-block Views da matéria sete dias após a publicação
            input#views7.form-control(name='views7', type='text') 
          .form-group
            label(for='noticiasGeradas') Notícias geradas
            textarea#noticiasGeradas.form-control(name='noticiasGeradas', cols='100', rows='2')

          .form-group.pull-right
            button.btn.btn-primary(type='submit') Editar
            | &nbsp;
            a.btn.btn-default(href='com-interna--itemCom-Interna.html', data-dismiss='modal') Cancelar

