body
  .login
    h1.zeta.text-center.u-spacer--xl(class="+white--color")
      img(src='assets/img/icon-pautas2.svg' alt='Logo sistema' width="80px" height="80px")
      p
      | Central de Pautas e Produção Jornalística
    #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      #login-alert.alert.alert-danger.alert-dismissible(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
        strong Atenção!
        |  Falha no acesso. Tanto o nome de usuário como a senha são sensíveis a letras maiúsculas e minúsculas, verifique se a tecla Caps Lock não está ativa.
        button(type='button' data-toggle='modal', data-target='#ajuda' class='btn btn-xs +help--content')
          .fa.fa-question-circle
          | Saiba mais
      form#loginform.form-horizontal.milli(role='form' action='paginaInicial.html')
        .input-group
          span.input-group-addon
            i.fa.fa-user
          input#login-username.form-control(type='text', name='username', value='', placeholder='usuário', required)
        .input-group
          span.input-group-addon
            i.fa.fa-lock
          input#login-password.form-control(type='password', name='password', placeholder='senha', required)
        .input-group.u-spacer--sm
          .checkbox
            label(class="+white--color")
              input#login-remember(type='checkbox', name='remember', value='1')
              |  Lembre me
        .form-group
          // Button
          .col-sm-12
            button#btn-login.btn.btn-info.btn-block(type='submit') Autenticar
        .form-group
          .col-md-12
            .divisor(class="+white--color")
              | Esqueceu a senha?
              a(href="#perdeuasenha" data-toggle='modal', data-target='#perdeuasenha')
                |  Clique aqui

  // modal esqueceu a senha
  .modal.fade(id="perdeuasenha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Senha Perdida
        .modal-body
          p.alert.alert-info.alert-dismissible(role='alert') Por razões de segurança, armazenamos sua senha criptografada e não podemos enviá-la por e-mail. Caso queira redefinir sua senha, preencha o formulário abaixo e enviaremos para o endereço que você forneceu ao se registrar uma mensagem que permitirá efetuar a mudança.
          .form-group
            label(for='exampleInputEmail1') Informe o nome do usuário:
            input#exampleInputEmail1.form-control(type='text', required, placeholder='Nome do usuário')

        .modal-footer
          button.btn.btn-primary(type='button') Enviar
          button.btn.btn-default(type='button', data-dismiss='modal') Fechar


  // modal esqueceu a senha
  .modal.fade(id="ajuda" tabindex="-1" role="dialog" aria-labelledby="ajudaLabel")
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title
            span(class='+help--color')
              .fa.fa-question-circle
              |   Ajuda
        .modal-body
          p.alert.alert-dismissible(role='alert' class="+help--content") Caso o nome de usuário e a senha estejam certos, o problema pode ser que o seu navegador não está configurado para aceitar cookies, Cheque se existem softers de filtragem de conteúdo que desabilida cookies, desative eles ou configure para acessar atravez do endereço "https://www12.senado.leg.br/pauta". Cheque seu firewall ou sevirdor proxy que previne que os cookies sejam enviados para o seu navegador. Caso nada disso tenha funcionado, fale com o administrador do sistema. (COLOCAR RAMAL ou EMAIL)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Fechar
