.panel.panel-default
  .s-bar.s-bar--background
    .ArrangeFlex
      .ArrangeFlex-sizeFit.Box.Box--lg
        i.fa.fa-file-text
      .ArrangeFlex-sizeFill.Box--y.Box--lg
        h2.milli.s-bar--text
          strong Produção
      .ArrangeFlex-sizeFit.Box--y.Box--lg.s-bar--columnLeft
        a.toggle.eta.btn-sBar(href='#collapse-box' data-toggle="collapse" aria-expanded='true')
          i.fa.fa-chevron-up
          i.fa.fa-chevron-down
  .panel-body#collapse-box.in
    include ../partials/navbar-nav--secundaria

    form.form-inline
      .row
        .col-md-12
          .Box.Box--lg.Box--y
            .form-group
              label.control-label.milli(for='quantidade') Selecione:
              select.form-control
                option ECD
                option MPV/PLV
                option MSF
                option OFS
                option PDS
                option PEC
                option PLC
                option PLN
                option PLS
                option PRN
                option PRS
                option REQ
                option SCD
                option SUG
                option VET
                option GRANDES TEMAS
                option Aconteceu
                option Especiais-Veículos
                option Impeachment

    // Nav tabs
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#emandamento', aria-controls='emandamento', role='tab', data-toggle='tab') Em Andamento
      li(role='presentation')
        a(href='#arquivado', aria-controls='arquivado', role='tab', data-toggle='tab') Arquivado

    // Tab panes
    .tab-content
      #emandamento.tab-pane.active(role='tabpanel')

        mixin thead-weather(alert, label, turno)
          thead.thead-visible
            tr(class=alert)
              th(colspan='6')
                .label.normalis(class=label)
                  =turno

        mixin thead(head1, head2, head3, head4, head5)
          thead
            tr
              th
                = head1
              th
                = head2
              th
                = head3
              th
                = head4
              th
                = head5
        mixin tbody(cond1, cond2, cond3, cond4, cond5)
          tbody
            tr
              td(data-th='Ano')
                = cond1
              td(data-th='Núm')
                = cond2
              td(data-th='Assunto')
                = cond3
              td(data-th='Criação')
                = cond4
              td(data-th='Modificação')
                = cond5

        // Manhã
        .Box--lg.Box--y
          table.table.table-striped.table-hover.table-rp.milli
            +thead-weather('alert-info', 'label-info', '2015')
            +thead('Ano', 'Núm', 'Assunto', 'Criação', 'Modificação')
            +tbody('2015', '6', 'desconto em mensagens de celulares de pessoas com deficiência', '01/06/2016', '02/06/2016')


          table.table.table-striped.table-hover.table-rp.milli
            +thead-weather('alert-info', 'label-info', '2015')
            +thead('Ano', 'Núm', 'Assunto', 'Criação', 'Modificação')
            +tbody('2015', '6', 'desconto em mensagens de celulares de pessoas com deficiência', '01/06/2016', '02/06/2016')

          // Manhã
          table.table.table-striped.table-hover.table-rp.milli
            +thead-weather('alert-info', 'label-info', '2016')
            +thead('Ano', 'Núm', 'Assunto', 'Criação', 'Modificação')
            +tbody('2015', '6', 'desconto em mensagens de celulares de pessoas com deficiência', '01/06/2016', '02/06/2016')

          table.table.table-striped.table-hover.table-rp.milli
            +thead-weather('alert-info', 'label-info', '2016')
            +thead('Ano', 'Núm', 'Assunto', 'Criação', 'Modificação')
            +tbody('2015', '6', 'desconto em mensagens de celulares de pessoas com deficiência', '01/06/2016', '02/06/2016')

      #arquivado.tab-pane(role='tabpanel')
        table.table.table-striped.table-hover.table-rp.milli
          +thead-weather('alert-info', 'label-info', '2014')
          +thead('Ano', 'Núm', 'Assunto', 'Criação', 'Modificação')
          +tbody('2015', '6', 'desconto em mensagens de celulares de pessoas com deficiência', '01/06/2016', '02/06/2016')
