//- script(src='js/vendors.js')
//- script(src='js/main.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js')
//- script(src='http://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.4/tinymce.min.js')
