head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title Central de Pautas e Produção Jornalística
  meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
  link(href='styles/vendors.css' rel='stylesheet' type='text/css')
  link(href='styles/main.css' rel='stylesheet' type='text/css')
  
  link(rel="shortcut icon" href="assets/img/favicon.png")
  link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:100' rel='stylesheet' type='text/css')
