// Modal adicionarAviso (Carregado em; navbar Avisos Gerais, )
#novo-aviso.modal.fade(tabindex='-1', role='dialog', aria-labelledby='novo-avisoLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#novo-avisoLabel.modal-title 
          span.fa.fa-plus
          |  Adicionar aviso

      .modal-body
        form(name='adicionarAvisoModalForm')
          .form-group
            label(for='texto') 
              | Texto 
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            textarea#texto.form-control(rows='2', required)
          .form-group
            label(for='ordenacao') 
              | Ordenação 
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            input#ordenacao.form-control(type='text', name='ordenacao', required, placeholder='-1') 
          .form-group
            .checkbox
              label
                input(type='checkbox')
                |  Destaque
          .form-group
            .checkbox
              label
                input(type='checkbox')
                |  Habilitado
      .modal-footer
        button.btn.btn-primary(type='button') Adicionar
        button.btn.btn-default(type='button', data-dismiss='modal') Cancelar