// Modal editarCheckpoint (Carregado em; Item COMAP, )
#editarCheckpoint.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editarCheckpointLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#editarCheckpointLabel.modal-title 
          span.fa.fa-pencil
          |  Editar item COMAP Checkpoint
      .modal-body
        form(name='editarCheckpointModalForm')
          .form-group
            label(for='descricao') 
              | Descrição
              span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *
            textarea#descricao.form-control(rows='3', name='descricao', required)
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .form-group
            .checkbox
              label
                input(type='checkbox', checked)
                |  Habilitado
          .form-group
            .row
              .col-md-3.col-xs-8
                label(for='data') 
                  | Data
                  span(class='+red--color', data-toggle="tooltip", data-placement="top", title="Item Obrigatório") *

                .input-group.date(data-provide='datepicker', data-date-format="dd/mm/yyyy")
                  input#data.form-control(type='text', placeholder='dd/mm/aaaa', required)
                  .input-group-addon
                    span.fa.fa-calendar
      .modal-footer
        button.btn.btn-primary(type='button') Salvar
        button.btn.btn-default(type='button', data-dismiss='modal') Cancelar