doctype html
html(lang='pt')
  style(role='Apenas para navegacao do prototipo, corresponde ao menu-item').
    #menu-item--status li li:nth-child(1), #menu-item--status li li:nth-child(2) {
      display:none;
    }
    #menu-item--apoio li li:nth-child(3), #menu-item--apoio li li:nth-child(4), #menu-item--apoio li li:nth-child(5) {
      display:none;
    }
    #menu-item--controle li li:nth-child(1), #menu-item--controle li:nth-child(3), #menu-item--controle li:nth-child(4), #menu-item--controle li:nth-child(6), #menu-item--controle li:nth-child(7) {
      display:none;
    }
  - var rand = function () { return Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5) }
  include pug/head

  body#sfcss
    aside
      include pug/sidebar
    main
      header
        include pug/navbar
        .col-md-12
          ol.breadcrumb.s-breadcrumb.s-bar.milli.u-spacer--xl.Box.Box--lg
            li
              a(href='paginaInicial.html') Página inicial            
            li
              a(href='com-interna.html') Comunicação Interna
            li.active Lorem ipsum dolor sit amet, consectetur
          .alert.alert-info
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
            i.fa.fa-lock
            |  por 
            a(href='#'): strong Carlos Eduardo Gomes Neri
            | — última modificação 25/08/2016 18:48
      article.col-md-12
        include pug/paginas/itemCom-Interna

  include pug/footer




